<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading"><%= t('tagline') %></h1>
          <p class="intro-text"><%= t('tagline1') %><br><%= t('tagline2') %><br><%= t('tagline3') %></p>
          <a class="btn btn-circle page-scroll" href="#about">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section class="container content-section text-center" id="about">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= t('about1') %></h2>
      <p><%= t('about2') %><br><%= t('about3') %><br><%= t('about4') %></p>
      <p><%= t('about5') %></p>
    </div>
  </div>
</section>

<!-- Download Section -->
<section class="content-section text-center" id="download">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><%= t('download0') %></h2>
        <p class="text-left"><%= t('download1') %></p>

        <p class="text-justify"><%= t('download2') %></p>
        <p class="text-left"><%= t('download3') %></p>
        <p class="text-left"><%= t('download4') %>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a class="btn btn-default btn-lg" href="/download/MannaguddaGattyFoundation.doc">
              <span class="network-name">Download Application</span>
            </a>
          </li>
          <li>
            <button class="btn btn-default btn-lg" data-target="#myModal" data-toggle="modal" type="button">Scholarship Awardees 2015-16</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- Trigger the modal with a button -->

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button class="close btn btn-default btn-lg" data-dismiss="modal" type="button">&times;</button>
          <h2 class="modal-title popup-default">Scholarship Awardees 2015-16</h2>
        </div>
        <div class="modal-body popup-default">
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h3 class="popup-default">Category - 1</h3></div>
            <div class="col-sm-4 col-lg-offset-0"><h3 class="popup-default">Category - 2</h3></div>
            <div class="col-sm-4 col-lg-offset-0"><h3 class="popup-default">Category - 3</h3></div>
          </div>
          <div class="row">
            <div class="col-sm-4 "><h4 class="popup popup-default">PRIYA R GATTY</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">ANKITHA R GATTY</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">MEGHANA GATTY</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 "><h4 class="popup popup-default">SHREYA K GATTY</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">RAMYA GATTY</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">SWATHI P GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">ANKITHA GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">HRISHIKA GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">NIKHIL P GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">KAVYASHREE K GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">PREETHIKA GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">AKHILESH GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">DHANUSHREE K GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">CHIRAG GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">KAUSHIK K GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">KEERTHAN GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">VIJETH GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">VINAYASHREE GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">YASHASMITHA GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">JEEVITHA GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">ANURADHA GATTY</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>













        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Contact Section -->
<section class="container content-section text-center" id="contact">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h2><%= t('founder0') %></h2>
      <p class="contact"><%= t('founder1') %></p>
      <p class="contact"><%= t('founder2') %></p>
      <p class="contact"><%= t('founder3') %></p>
      <p class="contact"><%= t('founder4') %></p>
      <p class="contact"><%= t('founder5') %></p>
      <p class="contact"><%= t('founder6') %></p>
      <h2><%= t('contact0') %></h2>
      <p ><%= t('contact1') %></p>
      <p>
        <a href="mailto:contact@gattyfoundation.org">contact@gattyfoundation.org</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a class="btn btn-default btn-lg" href="https://www.facebook.com/profile.php?id=100008760936106">
            <i class="fa fa-facebook fa-fw"></i>
            <span class="network-name">Facebook</span>
          </a>
        </li>
        <li>
          <a class="btn btn-default btn-lg" href="https://twitter.com/gattyfoundation">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
        </li>
        <li>
          <a class="btn btn-default btn-lg" href="https://plus.google.com/107909044151896556498">
            <i class="fa fa-google-plus fa-fw"></i>
            <span class="network-name">Google+</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy;
      <%= t('mannagudde') %>
      <%= t('gatty') %>
      <%= t('foundation') %></p>
  </div>
</footer>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false" type="text/javascript"></script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
