<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading"><%= t('tagline') %></h1>
          <p class="intro-text"><%= t('tagline1') %><br><%= t('tagline2') %><br><%= t('tagline3') %></p>
          <a class="btn btn-circle page-scroll" href="#about">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section class="container content-section text-center" id="about">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= t('about1') %></h2>
      <p class="pdetails"><%= t('about2') %><br><%= t('about3') %></p>
      <p class="pdetails"><%= t('about5') %></p>
      <p class="pdetails"><%= t('about6') %></p>
      <p class="pdetails"><%= t('about7') %></p>
      <p class="pdetails"><%= t('about8') %></p>
      <p><%= t('about9') %></p>
    </div>
  </div>
</section>

<!-- Our Impact Section -->
<section class="container content-section text-center" id="impact">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3><%= t('impact1') %></h3>
      <p class="pdetails"><%= t('impact2') %></p>
      <h3><%= t('impact3') %></h3>
      <p class="pdetails"><%= t('impact4') %></p>
      <h4><%= t('impact5') %></h3>
      <p class="pdetails"><%= t('impact6') %></p>
      <h4><%= t('impact7') %></h3>
      <p class="pdetails"><%= t('impact8') %></p>
      <h3><%= t('impact9') %></h3>
      <p class="pdetails"><%= t('impact10') %></p>
      <h3><%= t('impact11') %></h3>
      <p class="pdetails"><%= t('impact12') %></p>
      <h3><%= t('impact13') %></h3>
      <p class="pdetails"><%= t('impact14') %></p>
      <h3><%= t('impact15') %></h3>
      <p class="pdetails"><%= t('impact16') %></p>
    </div>
  </div>
</section>
<!-- Apply Section -->
<section class="container content-section text-center" id="apply">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= t('apply1') %></h2>
      <h3 class="newh3"><%= t('apply2') %></h3>
      <h4><%= t('apply2a') %></h4>
      <ul style="list-style: none;">
        <li><p class="pdetails"><%= t('apply21') %></p></li>
        <li><p class="pdetails"><%= t('apply22') %></p></li>
        <!--<li><p class="pdetails"><%= t('apply23') %></p></li>
        <li><p class="pdetails"><%= t('apply24') %></p></li> -->
      </ul>
      <h3 class="newh3"><%= t('apply3') %></h3>
      <h4><%= t('apply3a') %></h4>
      <ul style="list-style: none;">
        <li><p class="pdetails"><%= t('apply31') %></p></li>
        <li><p class="pdetails"><%= t('apply32') %></p></li>
        <li><p class="pdetails"><%= t('apply33') %></p></li>
        <li><p class="pdetails"><%= t('apply34') %></p></li>
        <li><p class="pdetails"><%= t('apply35') %></p></li>
        <li><p class="pdetails"><%= t('apply36') %></p></li>
      </ul>
    </div>
  </div>
</section>

<!-- Winner Section -->
<section class="content-section text-center" id="winners">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><%= t('winner0') %></h2>
        <ul class="list-inline banner-social-buttons">
          <li>
            <p class="pdetails"><%= t('winner1') %></p>
            <br />
            <a class="btn btn-default btn-lg" href="/download/2017_Winners.pptx">
              <span class="network-name">2017 Scholarship Winners</span>
            </a>

          </li>
            <br />
          <br>
        </ul>
      </div>
    </div>
  </div>

<!-- Download Section -->
<section class="content-section text-center" id="download">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><%= t('download0') %></h2>
        <ul class="list-inline banner-social-buttons">
          <li>
            <br />
            <a class="btn btn-default btn-lg" href="/download/MGF_SCHEME_2018-19.docx">
              <span class="network-name">Merit Award and Merit Scholarship Scheme Guidelines</span>
            </a>
          </li>
            <br />
          <br>
          <br />
          <br />
          <li>
            <a class="btn btn-default btn-lg" href="/download/MGF_Application_MERIT_AWARD_2018-19.docx">
              <span class="network-name">Merit Award & Merit Scholarship Application</span>
            </a>
          </li>
          <br>


        </ul>
      </div>
    </div>
  </div>
<!-- Trigger the modal with a button -->

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button class="close btn btn-default btn-lg" data-dismiss="modal" type="button">&times;</button>
          <h2 class="modal-title popup-default">Scholarship Awardees 2016-17</h2>
        </div>
        <div class="modal-body popup-default">
          <div class="row">
            <div class="col-sm-4 "><h4 class="popup popup-default">Namithraj Gatty</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">Madhumitha Gatty</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">MEGHANA GATTY</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 "><h4 class="popup popup-default">Yashvith V Gatty</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">Haricharan Gatty</h4></div>
            <div class="col-sm-4 "><h4 class="popup popup-default">Chethan Kumar Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Sanjana Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Priyanka Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Thrupthi Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Rashmi Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Dhanush Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Hrithika Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Pooja Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Nisha Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Shravan Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Arpitha Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Pooja Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Prajwal Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Varun Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Thrijesh Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Anush Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Yashasmitha Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Anuradha Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Ashwith Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Vinayashree Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Jeevatha Gatty</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Prajna Gatty</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Namithraj Gatty(English 99%)</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Madhumitha Gatty(Maths 98%)</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Aagneya Gatty(English 97%)</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Pooja Gatty(Maths 96%)</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Ananthram Gatty(Maths 94%)</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Hrithika Gatty(Hindi 100%)</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default">Varun Gatty(Hindi 100%)</h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
            <div class="col-sm-4 col-lg-offset-0"><h4 class="popup popup-default"></h4></div>
          </div>













        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Contact Section -->
<section class="container content-section text-center" id="contact">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h2><%= t('founder0') %></h2>
      <p class="contact"><%= t('founder1') %></p>
      <p class="contact"><%= t('founder2') %></p>
      <p class="contact"><%= t('founder3') %></p>
      <p class="contact"><%= t('founder4') %></p>
      <p class="contact"><%= t('founder5') %></p>
      <p class="contact"><%= t('founder6') %></p>
      <p class="contact"><%= t('founder7') %></p>
      <h2><%= t('contact0') %></h2>
      <p ><%= t('contact1') %></p>
      <p>
        <a href="mailto:contact@gattyfoundation.org">contact@gattyfoundation.org</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a class="btn btn-default btn-lg" href="https://www.facebook.com/profile.php?id=100008760936106">
            <i class="fa fa-facebook fa-fw"></i>
            <span class="network-name">Facebook</span>
          </a>
        </li>
        <li>
          <a class="btn btn-default btn-lg" href="https://twitter.com/gattyfoundation">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
        </li>
        <li>
          <a class="btn btn-default btn-lg" href="https://plus.google.com/107909044151896556498">
            <i class="fa fa-google-plus fa-fw"></i>
            <span class="network-name">Google+</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy;
      <%= t('mannagudde') %>
      <%= t('gatty') %>
      <%= t('foundation') %></p>
  </div>
</footer>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKa2DeFYbFM9jBNWPR-CVrIyu_Xs-L5Cs&sensor=false" type="text/javascript"></script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
